<h1 *ngIf="!id">Adicionar produto</h1>
<h1 *ngIf="id">Editar produto</h1>
<hr />

<form [formGroup]="form" (submit)="save()" *ngIf="form">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"
            [ngClass]="{'form-group-error': !form.controls['name'].valid && form.controls['name'].touched}">
            <label>Nome</label>
            <input type="text" formControlName="name" class="form-control">
            <app-form-control-errors [control]="form.controls['name']"></app-form-control-errors>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"
            [ngClass]="{'form-group-error': !form.controls['value'].valid && form.controls['value'].touched}">
            <label>Valor</label>
            <input type="number" formControlName="value" class="form-control">
            <app-form-control-errors [control]="form.controls['value']"></app-form-control-errors>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align: right;">
          <hr/>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</form>